<ul class="widgetTabA widgetTab">
{@$i=0}
<!--@foreach($widget_info->tab as $module_srl => $tab)-->
    <!--@if($i==0)-->
    <li class="active"><a href="{$tab->url}" onmouseover="content_widget_tab_show(jQuery(this),jQuery(this).parents('ul.widgetTabA').next('dl.widgetDivider'),{$i})">{$tab->title}</a></li>
    <!--@end-->
    {@$i++}
<!--@end-->
</ul>
<dl class="widgetDivider">
{@$i=0}
<!--@foreach($widget_info->tab as $module_srl => $tab)-->
    <dt>{$tab->title}</dt>
    <dd<!--@if($i==0)--> class="open"<!--@end-->>
        {@$widget_info->content_items = $tab->content_items}
        <!--#include("_tab_none.html")-->
    </dd>
<!--@end-->
</dl>
